{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "ie > 8",
                        "cover 99.5%"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "transform-object-rest-spread"
    ]
}